@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#return-to-top {
    position: fixed;
    bottom: 55px;
    left: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.top-arrow {
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
    font-size: 19px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#next-section {
    position: fixed;
    bottom: 55px;
    right: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.bot-arrow {
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0;
    font-size: 19px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover .top-arrow {
    color: #fff;
    top: 5px;
}

#next-section:hover {
    background: rgba(0, 0, 0, 0.9);
}

#next-section:hover .bot-arrow {
    color: #fff;
    margin-top: 10px;
}

/*--------------------HEADER--------------------*/
header {
    background-color: #282828;
    width: calc(100% - 300px);
    height: 90px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-img-ctnr {
    width: 80px;
    height: 80px;
    position: relative;
}

#header-img-ctnr img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header nav {
    width: 400px;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    padding: 35px 0;
}

header a:hover {
    border-bottom: 2px solid white;
    padding: 34px 0;
}


/*--------------------Big Picture--------------------*/
#big-picture-section {
    width: 100%;
    height: 900px;
    background-image: url(../img/dev.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big-picture-section div {
    padding: 10px 20px;
    border: 1px solid white;
}

#big-picture-section h1 {
    font-size: 120px;
    color: white;
    margin: 0;
}

#big-picture-section p {
    font-size: 80px;
    color: white;
    margin: 15px 0;
}

#big-picture-section span {
    color: red;
}


/*--------------------About Me--------------------*/
#about-me-section {
    width: 100%;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-me-ctnr {
    margin: 0 80px;
    width: calc(100% - 160px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#about-me-ctnr-left {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    background-image: url(../img/mat2.jpg);
    background-size: cover;
}

#about-me-ctnr-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me-ctnr-right h2 {
    font-size: 40px;
    font-weight: normal;
}

#about-me-ctnr-right span {
    font-weight: bold;
}


#about-me-ctnr-right p {
    font-size: 25px;
}


/*--------------------Projects section--------------------*/
#projects-section {
    width: 100%;
    background-image: url(../img/bg.png);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-section h3 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: normal;
}

#projects-section h4 {
    font-size: 20px;
}


.project-ctnr {
    margin: 0 80px 80px 80px;
    width: calc(100% - 160px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#project-1 img,
#project-2 img {
    margin-top: 35px;
    width: 45%;
    height: auto;
    border-radius: 10px;
}

.project-content p {
    font-size: 20px;
}

#btns {
    margin-top: 100px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #282828;
    border-radius: 5px;
    margin: 10px 10px 40px 10px;
    padding: 10px;
}

.btn:hover {
    text-decoration: underline;
}

hr {
    margin: 0px 0 40px 0;
    width: 90%;
    border: 1px solid black;
}


/*--------------------Skills section--------------------*/
#skills-section {
    width: 100%;
    background-image: url(../img/bg.png);
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#skills-section h3 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.flex-wrapper {
    margin: 30px 0 50px 0;
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 33%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 200px;
}

.circle-bg {
    fill: none;
    stroke: #fff;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.html .circle {
    stroke: #F16529;
}

.circular-chart.css .circle {
    stroke: #2965f1;
}

.circular-chart.js .circle {
    stroke: #E9D44E;
}

.circular-chart.git .circle {
    stroke: #171516;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.content {
    padding: 0 20%;
}


/*--------------------Footer--------------------*/
footer {
    width: 100%;
    height: 150px;
    padding-top: 20px;
    background-color: #282828;
}

footer h2 {
    margin: 0 0 0 30px;
    color: white;
    font-size: 40px;
}

#contact {
    display: flex;
    height: 215px;
    flex-direction: column;
}

#links {
    margin-top: 40px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-right: 25px;
}

#links a {
    color: white;
    text-decoration: none;
}