@media (max-width: 575.98px) {
  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 13px;
  }

  .btn:hover {
    text-decoration: none;
  }

  a {
    font-size: 13px;
    text-decoration: none;
    color: black;
  }

  /*--------------------Header--------------------*/
  header {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  header nav {
    width: 200px;
  }

  header nav a {
    font-size: 13px;
  }

  /*--------------------About me--------------------*/
  #about-me-section {
    margin-top: 50px;
    height: 500px;
  }

  .about-me-ctnr-right h1 {
    font-size: 20px;
    text-align: center;
  }

  .about-me-ctnr-right p {
    font-size: 15px;
  }

  .about-me-ctnr {
    margin: 0 20px;
    width: calc(100% - 40px);
    flex-direction: column;
  }

  .about-me-ctnr-left {
    width: 100px;
    height: 125px;
  }

  .about-me-ctnr-right {
    width: 80%;
  }

  /*--------------------Projects--------------------*/
  .project-ctnr {
    margin: 0 0 0 0;
    width: 95%;
  }

  .project {
    position: relative;
    width: 290px;
    height: auto;
  }

  .language {
    width: 45px;
    height: 50px;
    margin-right: 3px;
  }

  .project-content p {
    padding: 0 10px;
    color: #888888;
    text-align: center;
    font-size: 11px;
  }

  .btn-ctnr {
    position: relative;
    display: flex;
    margin-top: 70px;
  }

  .btn-ctnr a {
    margin: 5px 5px 5px 5px;
  }

  /*--------------------CV section--------------------*/
  #cv-section {
    min-height: auto;
  }

  .btn-cv {
    font-weight: bold;
    cursor: pointer;
  }

  .cv-ctnr {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cv-img {
    width: 95%;
  }

  /*--------------------Footer--------------------*/
  footer {
    height: auto;
  }

  footer h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
  }

  .links {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px 0 0 0;
  }

  .links a {
    margin: 25px;
    font-size: 11px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  /*--------------------Header--------------------*/
  header {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  header nav {
    width: 300px;
  }

  header nav a {
    font-size: 13px;
  }

  /*--------------------About me--------------------*/
  #about-me-section {
    margin-top: 50px;
    height: 500px;
  }

  .about-me-ctnr-right h1 {
    font-size: 30px;
    text-align: center;
  }

  .about-me-ctnr-right p {
    font-size: 20px;
  }

  .about-me-ctnr {
    margin: 0 20px;
    width: calc(100% - 40px);
    flex-direction: column;
  }

  .about-me-ctnr-left {
    width: 100px;
    height: 125px;
  }

  .about-me-ctnr-right {
    width: 80%;
  }

  /*--------------------Project--------------------*/
  .project-ctnr {
    margin: 0 0 0 0;
  }

  .project-content p {
    font-size: 15px;
  }

  /*--------------------CV section--------------------*/
  #cv-section {
    min-height: auto;
  }

  .btn-cv {
    font-weight: bold;
    cursor: pointer;
  }

  .cv-ctnr {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cv-img {
    width: 80%;
  }

  /*--------------------Footer--------------------*/
  footer {
    height: auto;
  }

  footer h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .links a {
    margin: 20px;
    font-size: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  /*--------------------Header--------------------*/
  header {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  header nav a {
    font-size: 13px;
  }

  /*--------------------About me--------------------*/
  #about-me-section {
    margin-top: 50px;
    height: 500px;
  }

  .about-me-ctnr-right h1 {
    font-size: 40px;
    text-align: center;
  }

  .about-me-ctnr-right p {
    font-size: 20px;
  }

  .about-me-ctnr {
    margin: 0 20px;
    width: calc(100% - 40px);
    flex-direction: column;
  }

  .about-me-ctnr-left {
    width: 100px;
    height: 125px;
  }

  .about-me-ctnr-right {
    width: 80%;
  }

  /*--------------------CV section--------------------*/
  #cv-section {
    min-height: auto;
  }

  .btn-cv {
    font-weight: bold;
    cursor: pointer;
  }

  .cv-ctnr {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cv-img {
    width: 80%;
  }

  /*--------------------Footer--------------------*/
  footer {
    height: auto;
  }

  footer h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .links a {
    margin: 20px;
    font-size: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /*--------------------About me--------------------*/
  .about-me-ctnr {
    flex-direction: column;
  }

  .about-me-ctnr-left {
    width: 100px;
    height: 125px;
  }

  .about-me-ctnr-right {
    width: 80%;
  }

  /*--------------------CV section--------------------*/
  .cv-img {
    width: 70%;
  }
}
