@media (max-width: 575.98px) {

    /*--------------------HEADER--------------------*/
    header {
        padding: 0 20px;
        width: calc(100% - 40px);
    }

    header nav {
        width: 170px;
    }

    header nav a {
        font-size: 13px;
    }

    /*--------------------Big Picture--------------------*/
    #big-picture-section {
        height: 300px;
    }

    #big-picture-section h1 {
        font-size: 30px;
    }

    #big-picture-section p {
        font-size: 25px;
    }

    /*--------------------About Me--------------------*/
    #about-me-section {
        height: 500px;
    }

    .about-me-ctnr {
        margin: 0 20px;
        width: calc(100% - 40px);
        flex-direction: column;
    }

    #about-me-ctnr-left {
        width: 100px;
        height: 125px;
    }

    #about-me-ctnr-right {
        width: 80%;
    }

    #about-me-ctnr-right h2 {
        font-size: 20px;
    }

    #about-me-ctnr-right p {
        font-size: 15px;
    }

    /*--------------------Projects--------------------*/
    #projects-section h3 {
        font-size: 25px;
    }

    .project-ctnr {
        margin: 0 30px 80px 30px;
        width: calc(100% - 60px);
        flex-direction: column;
    }

    #project-1 img,
    #project-2 img {
        margin-top: 35px;
        width: 85%;
    }

    .project-content p {
        font-size: 15px;
    }

    .project-content {
        width: 85%;
    }

    #btns {
        margin-top: 50px;
    }

    .btn {
        margin: 10px 10px 40px 10px;
    }

    /*--------------------Skills--------------------*/
    #skills-section .content {
        padding: 0 5%;
    }

    #skills-section p {
        font-size: 12px;
    }


    /*--------------------Footer--------------------*/
    footer {
        height: auto;
    }

    footer h2 {
        text-align: center;
        margin: 0;
        font-size: 20px;
    }

    #links {
        flex-direction: column;
        align-items: center;
    }

    #links a {
        margin: 25px;
        font-size: 11px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /*--------------------HEADER--------------------*/
    header {
        padding: 0 80px;
        width: calc(100% - 160px);
    }

    header nav {
        width: 300px;
    }

    /*--------------------Big Picture--------------------*/
    #big-picture-section {
        height: 400px;
    }

    #big-picture-section h1 {
        font-size: 50px;
    }

    #big-picture-section p {
        font-size: 35px;
    }

    /*--------------------About Me--------------------*/
    #about-me-section {
        height: 300px;
    }

    .about-me-ctnr {
        margin: 0 30px;
        width: calc(100% - 60px);
    }

    #about-me-ctnr-left {
        width: 130px;
        height: 130px;
    }

    #about-me-ctnr-right {
        width: 70%;
    }

    #about-me-ctnr-right h2 {
        font-size: 20px;
    }

    #about-me-ctnr-right p {
        font-size: 15px;
    }

    /*--------------------Project--------------------*/
    .project-ctnr {
        margin: 0 30px 80px 30px;
        width: calc(100% - 60px);
        flex-direction: column;
    }

    #project-1 img,
    #project-2 img {
        margin-top: 35px;
        width: 90%;
    }

    .project-content p {
        font-size: 15px;
    }

    .project-content {
        width: 85%;
    }

    #btns {
        margin-top: 50px;
    }

    .btn {
        margin: 10px 10px 40px 10px;
    }

    /*--------------------Skills--------------------*/
    #skills-section .content {
        padding: 0 5%;
    }

    #skills-section p {
        font-size: 15px;
    }

    /*--------------------Footer--------------------*/
    footer {
        height: auto;
    }

    footer h2 {
        text-align: center;
        margin: 0;
        font-size: 30px;
    }

    #links {
        flex-direction: column;
        align-items: center;
    }

    #links a {
        margin: 20px;
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /*--------------------HEADER--------------------*/
    header {
        padding: 0 110px;
        width: calc(100% - 220px);
    }

    header nav {
        width: 350px;
    }

    /*--------------------Big Picture--------------------*/
    #big-picture-section {
        height: 450px;
    }

    #big-picture-section h1 {
        font-size: 65px;
    }

    #big-picture-section p {
        font-size: 50px;
    }

    /*--------------------About Me--------------------*/
    #about-me-section {
        height: 350px;
    }

    .about-me-ctnr {
        margin: 0 40px;
        width: calc(100% - 80px);
    }

    #about-me-ctnr-right {
        width: 70%;
    }

    #about-me-ctnr-left {
        width: 160px;
        height: 160px;
    }

    #about-me-ctnr-right h2 {
        font-size: 30px;
    }

    #about-me-ctnr-right p {
        font-size: 20px;
    }

    /*--------------------Project--------------------*/
    .project-ctnr {
        margin: 0 30px 80px 30px;
        width: calc(100% - 60px);
        flex-direction: column;
    }

    #project-1 img,
    #project-2 img {
        margin-top: 35px;
        width: 90%;
    }

    .project-content {
        width: 85%;
    }

    #btns {
        margin-top: 50px;
    }

    .btn {
        margin: 10px 10px 40px 10px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /*--------------------HEADER--------------------*/
    header {
        padding: 0 150px;
        width: calc(100% - 300px);
    }

    header nav {
        width: 350px;
    }

    /*--------------------Big Picture--------------------*/
    #big-picture-section {
        height: 500px;
    }

    #big-picture-section h1 {
        font-size: 80px;
    }

    #big-picture-section p {
        font-size: 60px;
    }

    /*--------------------About Me--------------------*/
    #about-me-section {
        height: 400px;
    }

    .about-me-ctnr {
        margin: 0 40px;
        width: calc(100% - 80px);
    }

    #about-me-ctnr-left {
        width: 220px;
        height: 220px;
    }

    #about-me-ctnr-right {
        width: 70%;
    }

    #about-me-ctnr-right h2 {
        font-size: 30px;
    }

    #about-me-ctnr-right p {
        font-size: 20px;
    }

    /*--------------------Project--------------------*/
    .project-ctnr {
        margin: 0 30px 80px 30px;
        width: calc(100% - 60px);
        flex-direction: column;
    }

    #project-1 img,
    #project-2 img {
        margin-top: 35px;
        width: 90%;
    }

    .project-content {
        width: 85%;
    }

    #btns {
        margin-top: 50px;
    }

    .btn {
        margin: 10px 10px 40px 10px;
    }
}