@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  display: flex;
  background-image: url(../images/bg.png);
  background-color: #f4f4f4;
  flex-direction: column;
  justify-content: center;
}

section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
}

h2,
h3 {
  color: #3e3e3e;
}

.btn {
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #282828;
  border-radius: 5px;
  margin: 10px 10px 40px 10px;
  padding: 10px;
}

.btn:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

/*--------------------Animation--------------------*/
/* Lazy load */
.lazy-load {
  opacity: 0;
  transition: opacity 1s;
  will-change: opacity;
}

.lazy-load.loaded {
  opacity: 1;
}

/*--------------------Header--------------------*/
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #282828;
  width: calc(100% - 300px);
  height: 56px;
  padding: 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 400px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
}

header a:hover {
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.test-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 100px;
}

/*--------------------Alert message--------------------*/
.alert-msg {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: calc(50% - 150px);
  width: 300px;
  height: 150px;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.alert-msg p {
  text-align: center;
}

.msg-btn-ctnr {
  display: flex;
  justify-content: center;
}

/*--------------------About Me--------------------*/
#about-me-section {
  position: relative;
  height: 550px;
}

#about-me-section .webgl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  color: red;
  cursor: grab;
}

.about-me-ctnr {
  z-index: 2;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me-ctnr-left {
  width: 180px;
  height: 180px;
}

.about-me-ctnr-left img {
  object-fit: cover;
  background-position: center;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.about-me-ctnr-right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-ctnr-right h1 {
  font-size: 50px;
  font-weight: normal;
  color: black;
  text-shadow: -3px 1px 3px rgba(150, 150, 150, 1);
}

.about-me-ctnr-right p {
  font-size: 25px;
  color: white;
  text-align: center;
  text-shadow: -3px 1px 3px rgb(0, 0, 0);
}

.about-me-ctnr-right span {
  color: rgb(200, 0, 0);
}

/*--------------------Projects section--------------------*/
#projects-section {
  min-height: 75vh;
  padding-top: 50px;
  background-image: url(../images/bg.png);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
}

.project-ctnr {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  position: relative;
  width: 400px;
  height: 620px;
  margin: 40px 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}

.project:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
}

.project-img {
  width: 100%;
  height: 37%;
  border-bottom: 1px solid;
}

.project-img img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.project-content {
  margin-top: 25px;
  width: 100%;
  height: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language {
  width: 70px;
  height: 70px;
  margin-right: 3px;
}

.project-content p {
  padding: 0 25px;
  color: #888888;
  text-align: center;
}

.btn-ctnr {
  position: absolute;
  bottom: 50px;
}
/*--------------------Skills section--------------------*/
#skill-section {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev-skill,
.other-skill {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-ctnr {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill img {
  width: 60%;
}

/*--------------------CV--------------------*/
#cv-section {
  min-height: auto;
}

.btn-cv {
  font-weight: bold;
  cursor: pointer;
}

.cv-ctnr {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-img {
  width: 40%;
}

/*--------------------Footer--------------------*/
footer {
  width: 100%;
  height: 200px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #282828;
}

footer h2 {
  margin: 0;
  color: white;
  font-size: 40px;
  text-align: center;
}

.links {
  width: 80%;
  padding: 0 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.links a {
  color: white;
  text-decoration: none;
}
